spring:
  application:
    name: MongoWay
  shell:
    interactive:
      enabled: false
    history:
      enabled: false
logging:
  level:
    org:
      springframework:
        data:
            mongodb: DEBUG
